<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/style.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="app.py/scrape" role="button">Scrape New Data</a></p>
    </div>

    <div class="news">
        <h3>Latest Mars News</h3>
        
        <div>
            <h4>{{mars.newsTitle}}</h4>
            <p>{{mars.newsParagraph}}</p>
        </div>
    </div>

    <div class="featured-image">
        <h3>Featured Mars Image</h3>
        <img src="{{mars.featured_img_url}}" alt="Featured Mars Image">
    </div>

    <div class="mars-facts">
        <h5>Mars Facts</h5>
        {{mars.marsFacts}}
    </div>

    <div class="hemispheres">
        <h3>Mars Hemispheres</h3>
        {% for hem in mars.hemispheres %}
            <div>
                <img src="{{hem.img_url}}" alt="Hemisphere URL">
                {{hem.title}}
            </div>
        {% end for %}
    </div>
  </div>
  </div>
</body>

</html>